<!DOCTYPE html>
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />
  <title>RPGify</title>

  <link rel="stylesheet" href="static/css/vendor/normalize.css" />
  <link rel="stylesheet" href="static/css/vendor/foundation.min.css" />
  <link rel="stylesheet" href="static/css/rpgify.css" />

  <script src="static/js/vendor/custom.modernizr.js"></script>

</head>

<body>
    <nav class="top-bar">
        <ul class="title-area">
            <!-- Title Area -->
            <li class="name">
                <h1> <a href="/"> Rpgify </a> </h1>
            </li>
            <li class="toggle-topbar menu-icon">
                <a href="#"><span>menu</span></a>
            </li>
        </ul>
 
        <section class="top-bar-section">
            <!-- Right Nav Section -->
            <ul class="right">
                <li class="divider"></li>
                <% if not session.email %>
                    <li><a href="/login">Login</a></li>
                    <li><a href="/signup">Signup</a></li>
                <% else %>
                    <li><a href="#">%% session.email %%</a></li>
                    <li><a href="/logout">Logout</a></li>
                <% endif %>
            </ul>
        </section>
    </nav>
    
    <% block content %><% endblock %>
    
    <script>
        document.write('<script src=' +
        ('__proto__' in {} ? 'js/vendor/zepto' : 'js/vendor/jquery') +
        '.js><\/script>')
    </script>
    <script src="static/js/vendor/foundation.min.js"></script>
    <script>
        $(document).foundation();
    </script>
</body>